<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sepak bola</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
    <script type="module" src="../js/fetch.js"></script>
</head>
<body>
    <header>
        
        <div class="header-left">
            <div class="logo">
                <img src="template/logo1.png" alt="">
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="" class="active">Home</a>
                    </li>
                    <li>
                        <a href=""  class="active">Data Pemain</a>
                    </li>
                   
                   
                </ul>
                <div class="login-signup">
                    <a href="">Login</a> or <a href="">Signup</a>
                </div>
            </nav>
        </div>
        <div class="header-right">
            <div class="login-signup">
                <a href="">Login</a> or <a href="">Signup</a>
            </div>
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </header>
    <script>
        hamburger = document.querySelector(".hamburger");
        nav = document.querySelector("nav");
        hamburger.onclick = function() {
            nav.classList.toggle("active");
        }
    </script>


<div class="relative overflow-x-auto shadow-md sm:rounded-lg" id="iniTabel">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Nama
                </th>
                <th scope="col" class="px-6 py-3">
                    Posisi
                </th>
                <th scope="col" class="px-6 py-3">
                    Tinggi
                </th>
                <th scope="col" class="px-6 py-3">
                    Berat
                </th>
                <th scope="col" class="px-6 py-3">
                    Tanggal Lahir
                </th>
                <th scope="col" class="px-6 py-3">
                    Negara
                </th>
                <th scope="col" class="px-6 py-3">
                    No Punggung
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    #Id
                </th>
                <td class="px-6 py-4">
                    #Nama
                </td>
                <td class="px-6 py-4">
                    #Posisi
                </td>
                <td class="px-6 py-4">
                    #Tinggi
                </td>
                <td class="px-6 py-4">
                    #Berat
                </td>
                <td class="px-6 py-4">
                    #TanggalLahir
                </td>
                <td class="px-6 py-4">
                    #Negara
                </td>
                <td class="px-6 py-4">
                    #Negara
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
